[recording EQ]
treble = 0.0
bass = 0.0

[level]
replaygain_track = False
level = -21.0
headroom = 26.2
balance = 0.0

[general]
fs = 44100
clock = card
preset = tweeter att 6dB
filter_type = lp
muted = False
polarity = +
peq = off
drc_eq = 0

[loudness EQ]
loudness_track = True
loudness_ref = 0.0

[inputs]
radio_prev = 3
radio = 2
input = analog44
resampled = no
mono = off

