# Regleta USB
[regleta]
#toma   = etiqueta
1       = CD
2       = FM
3       = CO2
4       = AMP


# BACKUP script configuration
[origins]
firtro = /home/firtro
[destinations]
mirror = /media/sda1/firtroMirror
dated  = /media/sda1/firtroDated
[patterns]
exclude = *.pyc .aptitude/ .config/ .cache/ .ipython/ .local/ .mpd/ .ncmpcpp/ .client175 music/ tmp/ www/music/ Downloads/ Descargas/ Documents /Documentos /Images /Imágenes /Escritorio /Desktop /Música /Music /Public /Público /Video /Vídeos /Templates /Plantillas /.compiz /.dbus /.gnupg .lirc /.mozilla /.nano* /.pki /.putty /.gconf


[ac3downmix]
# AC3 5.1 to stereo downmix
#     L    R
FL = 1.0  0.0
FR = 0.0  1.0
SL = 0.5  0.0
SR = 0.0  0.5
CE = 0.7  0.7
SW = 1.0  1.0



