[tasks]

# Regleta USB
# toma   = etiqueta
[regleta]
1 = CD
2 = FM-AMP2
3 = CO2
4 = AMP

# BACKUP script configuration
[backup_origins]
firtro = /home/firtro
[backup_destinations]
mirror = /media/sdb1/salon/firtroMirror
dated  = /media/sdb1/salon/firtroDated

[backup_patterns]
exclude = .X* .x* .ICE* .cddb* .ssh* .less* .lirc* .selected* .git* *.pyc .aptitude/ .config/ .cache/ .ipython/ .local/ .mpd/ .ncmpcpp/ .client175 music/ tmp/ www/music/ Downloads/ Descargas/ /Documents /Documentos /Images /Imágenes /Escritorio /Desktop /Música /Music /Public /Público /Video /Vídeos /Templates /Plantillas /.compiz /.dbus /.gnupg .lirc /.mozilla /.nano* /.pki /.putty /.gconf

# Canales TDT FAVORITOS:
[tdtradio]
1 = Radio Nacional
2 = Radio Clasica HQ MPA
3 = Radio Tres HQ
