[inputs_names]
mpd_input = "mpd"
cdda_input = "cdda"
tdt_input = "tdt"

[custom_page]

btn_txt_1 = "R.Nacional"
btn_cmd_1 = "webcustombutton_1.sh"

btn_txt_2 = "R.Clasica"
btn_cmd_2 = "webcustombutton_2.sh"

btn_txt_3 = "Radio 3"
btn_cmd_3 = "webcustombutton_3.sh"

btn_txt_4 = "PEQ_on"
btn_cmd_4 = "webcustombutton_4.sh"

btn_txt_5 = "PEQ_off"
btn_cmd_5 = "webcustombutton_5.sh"

btn_txt_6 = "---"
btn_cmd_6 = "webcustombutton_6.sh"

btn_txt_7 = "---"
btn_cmd_7 = "webcustombutton_7.sh"

btn_txt_8 = "drc_off"
btn_cmd_8 = "webcustombutton_8.sh"

btn_txt_9 = "mp / lp"
btn_cmd_9 = "webcustombutton_9.sh"

[themes]
global_theme = "default"
themes = " a b c d e f"

[misc]
vol_slider_hr = "50"
auto_update = "1"
auto_update_interval = "5000"
keypad_timeout = "1000"
