@charset "utf-8";

@font-face {
    font-family: 'LCDDotRegular';
    src: url('../font/lcddot-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.display {
	/* [disabled]width: 380px; */
	min-height: 62px;
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.39, rgb(171,199,171)),
	    color-stop(0.67, rgb(179,203,179))
	); /*old webkit*/
	background-image: -webkit-linear-gradient(bottom, rgb(171,199,171) 39%, rgb(179,203,179) 67%); /*new webkit*/
	background-image: linear-gradient(bottom, rgb(171,199,171) 39%, rgb(179,203,179) 67%); /*future CSS3 browsers*/
	background-image: -o-linear-gradient(bottom, rgb(171,199,171) 39%, rgb(179,203,179) 67%); /*opera 11.10+*/
	background-image: -moz-linear-gradient(bottom, rgb(171,199,171) 39%, rgb(179,203,179) 67%); /*gecko*/
	background-image: -ms-linear-gradient(bottom, rgb(171,199,171) 39%, rgb(179,203,179) 67%); /*IE10*/
	/*-ms-filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#b3c7ab,EndColorStr=#b3cbb3);
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#b3c7ab,EndColorStr=#b3cbb3);*/
	
	-webkit-box-shadow: 1px 1px 5px #333 inset, -1px -1px 1px #333, 1px 1px 1px #aaa; /*Safari and Chrome*/
	-moz-box-shadow: 1px 1px 5px #333 inset, -1px -1px 1px #333, 1px 1px 1px #aaa; /*Firefox*/
	box-shadow: 1px 1px 5px #333 inset, -1px -1px 1px #333, 1px 1px 1px #aaa; /*Opera, IE future browsers*/
	color: #000;
	font-family: LCDDotRegular;
	font-size: 16px;
	text-shadow: 2px 2px 0px #9ebb9e;
	line-height: 25px;
}

.display2 {
	min-height: 135px;
}

.footer_level {
	text-align: right;
	padding-right: 10px;
}

/* Para hacer ciertos flip-switch mas largos (loudness por ejemplo)*/
.containing-element .ui-slider-switch { width: 9em }
.background_buttons {
	border: 1px solid #BBB;
	/* [disabled]background-color: #FFF; */
	padding-top: 10px;
	padding-right: 15px;
	padding-bottom: 10px;
	padding-left: 15px;
}

/* Centra los controlgroup en la página (selector de entradas, por ejemplo) */
.center-controlgroup { text-align: center; }

html {
    -webkit-user-select: none;
}

/* Ajusta los textos mas a los bordes de los botones */
/* Especificar la clase "fitted" en un contenedor para aplicarlo a todos los botones que contiene*/
.fitted .ui-btn-inner{
    padding-left: 3px;
    padding-right: 3px;
}